:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(5, 6, 8);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #0E1116;
  }
}
